<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} » Andrés Botero</title>
    <meta name="description" content="{{ page.description }}" />
{% if page.canonical %}
    <link href="http://{{ site.domain }}{{ page.canonical }}" rel="canonical" />
{% else %}
    <link href="http://{{ site.domain }}{{ page.url }}" rel="canonical" />
{% endif %}
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold&amp;v1' rel='stylesheet' />
    <link href="/styles/base.css" rel="stylesheet" />
    <link href="/feed/" rel="alternate" title="Andrés Botero’s writings" type="application/atom+xml" />
    <!--[if lte IE 9]>
    <script src="/scripts/html5shiv.js"></script>
    <![endif]-->
  </head>