      <header id="page-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader" role="banner">
        <hgroup>
          <h1 id="title">Hello. My name is <span itemprop="author"><a href="/">Andrés Botero</a></span>.</h1>
          <h2 id="subtitle">I love to develop <b>software</b>, write about <b>development</b> <span class="amp">&</span> play with <b>technology</b>.</h2>
        </hgroup>

        <nav id="page-navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" role="navigation">
          <ul>
            <li>read • <a class="blog-link" href="/writings" title="Read my non-sensical rants">writings</a></li>
            <li>know • <a class="about-link" href="/about" title="Take a peek at my dark side" rel="author">me</a></li>
            <li>fork • <a class="github-link" href="https://github.com/anbotero" rel="external" title="Spare some time to improve my projects">github</a></li>
            <li>follow • <a class="twitter-link" href="https://twitter.com/andevco" rel="external" title="Discover my funny personality">twitter</a></li>
          </ul>
        </nav>
      </header>