<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} | Andrés Botero</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="robots" content="noodp,noydir" />
{% if page.canonical %}
    <link href="http://{{ site.domain }}{{ page.canonical }}" rel="canonical" />
{% else %}
    <link href="http://{{ site.domain }}{{ page.url }}" rel="canonical" />
{% endif %}
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold&amp;v1' rel='stylesheet' />
    <link href="/styles/base.css" rel="stylesheet" />
    <link href="/feed/" rel="alternate" title="Andrés Botero’s writings" type="application/atom+xml" />
    <!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script async="async" src="http://www.google-analytics.com/ga.js"></script>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24768572-1']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);
    </script>
  </head>