{% include head.html %}
  <body itemscope="itemscope" itemtype="http://schema.org/{{ page.schema }}">
    <div class="site-section" id="page-container">
{% include header.html %}
{{ content }}
{% include footer.html %}
    </div>

    <script>
      var _gaq = [
        ['_setAccount','UA-24841064-1'],
        ['_setSiteSpeedSampleRate', 100]
        ['_trackPageview']
      ];

      twttr.events.bind('tweet', function() {
        _gaq.push(['_trackSocial', 'Twitter', 'Tweet']);
      });

      // From https://gist.github.com/1025811
      (function(doc, script) {
        var js,
            fjs = doc.getElementsByTagName(script)[0],
            add = function(url, id) {
              if (doc.getElementById(id)) {return;}
              js = doc.createElement(script);
              js.src = url;
              js.async = true;
              id && (js.id = id);
              fjs.parentNode.insertBefore(js, fjs);
            };

        // Google Analytics
        add(('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js', 'ga');
        // Google+ button
        add('https://apis.google.com/js/plusone.js', 'gp');
        // Twitter SDK
        add('//platform.twitter.com/widgets.js', 'twitter-wjs');
      }(document, 'script'));
    </script>
  </body>
</html>