{% include head.html %}
  <body itemscope="itemscope" itemtype="http://schema.org/{{ page.schema }}">
    <div class="site-section" id="page-container">
{% include header.html %}
{{ content }}
{% include footer.html %}
    </div>

    <script async="async" src="http://www.google-analytics.com/ga.js"></script>
    <script async="async" src="https://apis.google.com/js/plusone.js"></script>
    <script async="async" src="http://platform.twitter.com/widgets.js"></script>
    <script>
      var _gaq = [['_setAccount', 'UA-24841064-1'], ['_trackPageview'], ['_trackPageLoadTime']];

      twttr.events.bind('tweet', function() {
        _gaq.push(['_trackSocial', "Twitter", "Tweet"]);
      });
    </script>
  </body>
</html>